name: Django Tests
on:
  # push:
  #   branches: [ main, multiservice/main ]
  # pull_request:
  #   branches: [ main ]
  workflow_dispatch:  # Если хотите запускать вручную из GitHub UI

jobs:
  run-tests:
    runs-on: ubuntu-latest

    env:
        ALLOWED_HOSTS: ${{ secrets.ALLOWED_HOSTS }}
        REDIS_URL: ${{ secrets.REDIS_URL }}
        REDIS_PASSWORD: ${{ secrets.REDIS_PASSWORD }}
        SECRET_KEY: ${{ secrets.SECRET_KEY }}
        POSTGRES_DB: ${{ secrets.POSTGRES_DB }}
        POSTGRES_USER: ${{ secrets.POSTGRES_USER }}
        POSTGRES_PASSWORD: ${{ secrets.POSTGRES_PASSWORD }}
        POSTGRES_HOST: ${{ secrets.POSTGRES_HOST }}
        POSTGRES_PORT: ${{ secrets.POSTGRES_PORT }}
        DEBUG: ${{ secrets.DEBUG }}
        RABBITMQ_HOST: ${{ secrets.RABBITMQ_HOST }}
        RABBITMQ_PORT: ${{ secrets.RABBITMQ_PORT }}
        RABBITMQ_USER: ${{ secrets.RABBITMQ_USER }}
        RABBITMQ_PASSWORD: ${{ secrets.RABBITMQ_PASSWORD }}
        MAIN_TEST_TOKEN: ${{ secrets.MAIN_TEST_TOKEN }}
        MAIN_BASE_TOKEN: ${{ secrets.MAIN_BASE_TOKEN }}
        BOT_NAME: ${{ secrets.BOT_NAME }}
        PHOTO_ID: ${{ secrets.PHOTO_ID }}
        GPTBOT_TEST_TOKEN: ${{ secrets.GPTBOT_TEST_TOKEN }}
        GPTBOT_BASE_TOKEN: ${{ secrets.GPTBOT_BASE_TOKEN }}
        OPENAI_API_KEY: ${{ secrets.OPENAI_API_KEY }}
        OPENAI_PROXY: ${{ secrets.OPENAI_PROXY }}
        SERVICE_TEST_TOKEN: ${{ secrets.SERVICE_TEST_TOKEN }}
        SERVICE_BASE_TOKEN: ${{ secrets.SERVICE_BASE_TOKEN }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create .env ✅
        run: |
          cat > .env << EOF
          SECRET_KEY=django-insecure-test-key-change-me
          DEBUG=1
          ALLOWED_HOSTS=localhost,127.0.0.1,::1,test
          POSTGRES_DB=${{ secrets.POSTGRES_DB }}
          POSTGRES_USER=${{ secrets.POSTGRES_USER }}
          POSTGRES_PASSWORD=${{ secrets.POSTGRES_PASSWORD }}
          POSTGRES_HOST=postgres
          POSTGRES_PORT=5432
          REDIS_URL=${{ secrets.REDIS_URL }}
          MAIN_TOKEN=test123
          MAIN_PROXY=""
          EOF
          cat .env
  
      - name: Setup Docker
        uses: docker/setup-buildx-action@v3

      - name: Start containers
        run: docker compose --env-file .env up -d django analytic_consumer

      - name: Run pytest in Django container
        run: docker compose exec django pytest -v --nomigrations --reuse-db

      - name: Cleanup
        if: always()  # Выполнять даже если тесты упали
        run: docker compose down -v
